#!expect
#
# Script to run inc and provide a password.
#

log_user 1
set timeout 60
gets stdin password
eval spawn $argv
expect {
    -re "Password (.*):" {
	exp_send $password\n
    }
}
while {1} {
expect {
    -re ".*\n" {
	send_user $expect_out(buffer)
    }
    eof {
	send_user DONE\n
	exit 0
    }
}
}
