[Desktop Entry]
Name=exmh
Name[sv]=exmh
Type=Application
Comment=Mail reader which handles mh-style mail folders
Comment[sv]=E-postläsare som kan hantera e-postmappar av mh-typ
Exec=exmh
